<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="profile.css">
</head>
<body>
    <img src="/79821124_796445317483658_5625820276248805376_n.jpeg" alt="picture">
    <p>Name : Ployprapar Wansirikit</p>
    <p>Student ID : 1630903209</p>
    <p>CE223 : Computer Programming II (for EG)</p>
    <p>Section : 236A</p>
    <p>School of Engineering : Computer and Robotics Engineering</p>
    <p>Reference : <a href="https://www.glurgeek.com/education/backendexpressmysqlep2/">https://www.glurgeek.com/education/backendexpressmysqlep2/</a></p>
    
</body>
</html>