@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600&family=Dosis&family=Inter:wght@500&display=swap');

table{
    background-color: #eeefd4;
    width: 70%;
    text-align: center
}

th{
    background-color: #d0ca4e;
    font-family: 'Tapestry', cursive;
    letter-spacing: 2px;
    color: white;
    height: 40px;
}

td{
    font-family: 'Tapestry', cursive;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    height: 40px;
}